{% extends 'shop_projects/index.html' %}

{% block title %}
    {{ class_name_plural }}
{% endblock %}

{% block body %}
    <h1>{{ class_name_plural }}:</h1>
    <div>
        <ul>
            {% for object in object_list %}
                <li><a
                    href="{% url 'shop_projects:project-details' pk=object.pk %}">
                    {{ object.name }}</a></li>
            {% endfor %}
        </ul>
    </div>


    <a class="btn btn-primary my-2"
       href="{% url 'shop_projects:create-project' %}">
       Create new {{ class_name }}</a>

    <div>
        {% include 'macros/back_to_index.html' %}
    </div>
{% endblock %}
