{% extends 'base.html' %}

{% block title %}
Sales Shop Index
{% endblock %}


{% block nav %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">

    <div class="list-group mx-2 my-2">
        <a class="list-group-item list-group-item-action list-group-item-primary"
           href="{% url 'main_index' %}">
            ProPlat
        </a>
        {% if user.is_authenticated %}
        <a class="list-group-item list-group-item-action list-group-item-success"
           href="{% url 'auth_block:about-me' %}">
            User: {{ user.username }}
        </a>
        <a class="list-group-item list-group-item-action list-group-item-warning"
           href="{% url 'auth_block:logout' %}">
            Logout
        </a>
        {% else %}
        <a class="list-group-item list-group-item-action list-group-item-success"
           href="{% url 'auth_block:login' %}">
            Login
        </a>
        {% endif %}
    </div>
</nav>
{% endblock %}

{% block body %}

<h1>Main page.</h1>

<div>
    <p>Links:</p>
    <ul>
        <li>
            <a href="{% url 'shop_projects:index' %}">Shop projects</a>
        </li>
        <li>
            <a href="{% url 'my_projects:index' %}">My_projects</a>
        </li>
    </ul>
</div>


{% endblock %}