{% extends 'my_projects/index.html' %}

{% block title %}
video loading
{% endblock %}

{% block body %}
<div class="divs_inline">
    <div>
    Exercise recognition
    </div>
    <div>
        <div style="justify-content: flex-end">
            <a class="btn btn-success my-2"
            href="{% url 'my_projects:exercise_rec_about' %}">
            About</a>
        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
     <input class="btn btn-primary" type="submit" name="predict" value="Predict!">
</form>

{% if video_object %}
<div class="my-3">
    <h3>Exercise recognition result:</h3>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Exercise type</th>
        <th scope="col">Reps number</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>{{ pred_type }}</td>
        <td>{{ pred_count }}</td>
    </tr>
    </tbody>
</table>
<div class="my-3 d-flex justify-content-center">
    <img src="{{ path_tagged_video }}" alt="connect" style="max-height:500px">
</div>
{% endif %}

{% endblock %}



