{% extends 'my_projects/index.html' %}

{% block title %}
  koncert bot about
{% endblock %}

{% block body %}
<div class="my-4">
<h2>Бот знаток концертов</h2>
        <h4>Ссылка на сервис:
            <a
                class="btn-link my-1"
                href="{{ service_url }}">
                <strong>{{ service_url }}</strong>
            </a>
        </h4>
</div>

<div class="my-4">
        <h3>Общее описание:</h3>
        {% for paragraph in general_description_paras %}
            <p>
                {{ paragraph }}
            </p>

        {% endfor %}
</div>

<div class="my-4">
        <h3>Функционал сервиса:</h3>
        <ul>
        {% for paragraph in service_functionality_paras %}
            <li>
                <p>{{ paragraph }}</p>
            </li>
        {% endfor %}
        </ul>
</div>

<div class="my-4">
        <h3>Платформы:</h3>
        <ul>
            {% for name, url in platforms_names_urls_zip %}
            <li>
                <a
                    class="btn-link my-1"
                    href="{{ url }}">
                    {{ name }}
                </a>
            </li>
            {% endfor %}
        </ul>
</div>

<div class="my-4">
        <h3>Архитектура:</h3>
        <ul>
        {% for paragraph in architecture_paras %}
            <li>
                <p>{{ paragraph }}</p>
            </li>
        {% endfor %}
        </ul>
</div>

<div class="my-4">
        <h3>Проектная реализация:</h3>
        <ul>
        {% for paragraph in project_implementation_paras %}
            <li>
                <p>{{ paragraph }}</p>
            </li>
        {% endfor %}
        </ul>
</div>

{% endblock %}

